* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  max-width: 1200px;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.125)),
    url(./assets/img/bg1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(80px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(80px) rotate(-360deg);
  }
}
.phone-hands {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
.img-container {
  height: 85%;
  width: 100%;
  max-width: 1200px;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
  background: url(./assets/img/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
#wrapper::after {
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  content: '';
  height: 260px;
  position: absolute;
  width: 260px;
}
#wrapper::before {
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  content: '';
  height: 260px;
  position: absolute;
  width: 260px;
}
#wrapper:before {
  filter: blur(20px) saturate(150%) contrast(45%) brightness(125%);
  animation: orbit 10s linear infinite;
  background: -moz-radial-gradient(top left, #ffffff, #0066fff1);
  left: 30%;
  top: 60%;
}
#wrapper::after {
  filter: blur(20px) saturate(150%) contrast(45%) brightness(125%);
  animation: orbit 9s linear infinite reverse;
  background: -moz-radial-gradient(top left, #ffffff, #0066fff1);
  top: 10%;
  left: 15%;
}
.main-container {
  z-index: 2;
  background: none;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.main-container:before {
  background-color: 'rgba(255, 255, 255, 0.062)';
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}
.text-container {
  z-index: 3;
  height: 85%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

@media all and (min-width: 640px) {
  .img-container {
    display: flex;
  }

  #wrapper::after {
    height: 360px;
    width: 360px;
  }
  #wrapper::before {
    height: 280px;
    width: 280px;
  }
  #wrapper:before {
    left: 45%;
    top: 55%;
  }
  #wrapper::after {
    top: 12%;
    left: 12%;
  }
}

@media all and (min-width: 768px) {
  #wrapper::after {
    height: 420px;
    width: 420px;
  }
  #wrapper::before {
    height: 360px;
    width: 360px;
  }
  #wrapper:before {
    left: 55%;
    top: 50%;
  }
  #wrapper::after {
    top: 7.5%;
    left: 7.5%;
  }
}

@media all and (min-width: 1200px) {
  #wrapper::after {
    height: 520px;
    width: 520px;
  }
  #wrapper::before {
    height: 420px;
    width: 420px;
  }
  #wrapper:before {
    left: 55%;
    top: 35%;
  }
  #wrapper::after {
    top: 10%;
    left: 5.5%;
  }
}
